
// Sass Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import Color
@import Breakpoint
@import Utility
@import Base
@import Blockquote
@import Button
@import Code
@import Comment
@import Featured
@import Footer
@import Form
@import Gallery
@import Grid
@import Image
@import Link
@import List
@import Misc
@import Navigation
@import Pagination
@import Scroll
@import Search
@import Share
@import Simplelightbox
@import Social
@import Spacing
@import Table
@import Typography
@import Widget

// Site header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header
  margin: 10rem 0 6rem
  +medium
    margin: 6rem 0 10rem
.site-title
  margin-bottom: 1rem
  font-size: 2.2rem

// Site main
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-main
  +medium
    margin-top: 10rem

// Entry
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.entry-author,
.entry-tags
  font-size: 1.3rem
  font-style: italic

.entry-author
  position: relative

  &:after
    content: ''
    position: absolute
    bottom: -.6rem
    left: 0
    width: 2rem
    height: 0.2rem
    background-color: $color-primary

.entry-date
  font-size: 1.3rem
  font-style: italic

// Single post
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.post
  margin-bottom: 10rem

// Author
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.author-cover
  width: 120%
  max-width: 110%
  height: 40rem
  margin-bottom: 6rem
  margin-left: -5%
  background-size: cover

.author-profile
  margin-bottom: 8rem

  .author-image
    width: 14rem
    height: 14rem
    margin-bottom: 1rem
    font-size: 0
    background-size: cover

  .author-title
    margin-bottom: .4rem
    font-size: 3.2rem

  .author-meta p
    margin-bottom: 1.2rem
    span
      margin-right: 1rem

// Tag
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.tag-title
  margin-bottom: .4rem
  font-size: 3.2rem

// Next story
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.read-next-story
  margin-bottom: 10rem

  p
    margin-bottom: 1rem
    font-style: italic

  h3
    font-size: 2.6rem

  +medium
    .prev
      text-align: right
