<footer class="site-footer">
  <section class="site-footer-links">
    <div class="row">
      <!-- <div class="column medium-column-65">
        <nav class="social-navigation" role="navigation">
          <ul></ul>
        </nav>

        <div class="copyright">
          
        </div>
      </div> -->
      <div class="column medium-column-100" style="text-align:center;">
        <a href="#" class="scroll-top">Going up?</a>
      </div>
    </div>
  </section>
</footer>
