@charset "UTF-8";
.float-right {
  float: right; }

.float-left {
  float: left; }

html {
  box-sizing: border-box;
  background: rgb(252, 250, 244);
  font-size: 62.5%; }

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Georgia", serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .01rem;
  line-height: 1.6; }

*,
*:after,
*:before {
  box-sizing: inherit; }

blockquote {
  position: relative;
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 1.9rem;
  font-style: italic;
  line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Georgia", serif;
    font-weight: 800;
   }
  blockquote *:last-child {
    margin: 0; }
  blockquote footer {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-style: normal; }
  @media screen and (min-width: 480px) {
    blockquote {
      padding-left: 6rem; }
      blockquote:before {
        content: "";
        display: block;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.2);
        width: 5px;
        color: black;
        font-family: "Playfair Display", serif;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700; } }
  @media screen and (min-width: 800px) {
    blockquote {
      padding-right: 2rem;
      padding-left: 2.6rem; }
      blockquote:before {
        top: 0.6rem;
        bottom: 1.6rem;
        font-size: 8rem; } }

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  height: 3.8rem;
  padding: 0 3rem;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 2px; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  input[type='button']:hover,
  input[type='button']:focus,
  input[type='reset']:hover,
  input[type='reset']:focus,
  input[type='submit']:hover,
  input[type='submit']:focus {
    background-color: black;
    outline: 0; }
  .button.button-outline,
  button.button-outline,
  input[type='button'].button-outline,
  input[type='reset'].button-outline,
  input[type='submit'].button-outline {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent; }
    .button.button-outline:hover, .button.button-outline:focus,
    button.button-outline:hover,
    button.button-outline:focus,
    input[type='button'].button-outline:hover,
    input[type='button'].button-outline:focus,
    input[type='reset'].button-outline:hover,
    input[type='reset'].button-outline:focus,
    input[type='submit'].button-outline:hover,
    input[type='submit'].button-outline:focus {
      color: black;
      background-color: transparent;
      border-color: black; }
  .button.button-clear,
  button.button-clear,
  input[type='button'].button-clear,
  input[type='reset'].button-clear,
  input[type='submit'].button-clear {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-color: transparent; }
    .button.button-clear:hover, .button.button-clear:focus,
    button.button-clear:hover,
    button.button-clear:focus,
    input[type='button'].button-clear:hover,
    input[type='button'].button-clear:focus,
    input[type='reset'].button-clear:hover,
    input[type='reset'].button-clear:focus,
    input[type='submit'].button-clear:hover,
    input[type='submit'].button-clear:focus {
      color: black;
      background-color: transparent;
      border-color: transparent; }

pre {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.04); }

code {
  margin: 0 .2rem;
  padding: .2rem .5rem;
  font-size: 90%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.04);
  border-radius: .4rem; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  background: transparent;
  border-radius: 0; }

.entry-comments {
  margin-bottom: 10rem; }

.featured {
  position: relative; }
  .featured:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .8rem;
    color: black;
    font-family: "icons";
    font-size: 1.6rem;
    line-height: normal; }

.featured-image {
  width: 120%;
  max-width: 110%;
  margin-bottom: 6rem;
  margin-left: -5%; }

.site-footer {
  padding: 4rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5); }
  .site-footer .copyright {
    font-size: 1.3rem;
    font-style: italic; }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3.8rem;
  padding: .6rem 1rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: none;
  font-family: "Georgia", serif;
  box-sizing: border-box; }
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='url']:focus,
  textarea:focus,
  select:focus {
    border: 1px solid black;
    outline: 0; }

textarea {
  min-height: 6.5rem;
  padding-top: .6rem;
  padding-bottom: .6rem; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: 700; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

input[type='file'] {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px; }

.label-inline {
  font-weight: normal;
  display: inline-block;
  margin-left: .5rem; }

.gallery {
  margin-bottom: 4rem; }

.gallery-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .gallery-row a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
    margin: .1rem;
    border: 2px solid #FFF;
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease; }
    .gallery-row a img {
      max-width: 100%; }
    .gallery-row a:hover {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      z-index: 5; }

.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 2rem; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0; }
  .row.row-collapse {
    padding: 0; }
    .row.row-collapse > .column {
      padding: 0; }
  .row.row-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .row.row-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .row.row-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            justify-content: center; 
    -webkit-justify-content: center;
            justify-content: center; }

.column {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 100%;
  margin-left: 0; }
  .column.column-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .column.column-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .column.column-center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .column.column-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%; }
  .column.offset-5 {
    margin-left: 5%; }
  .column.column-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%; }
  .column.offset-10 {
    margin-left: 10%; }
  .column.column-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%; }
  .column.offset-15 {
    margin-left: 15%; }
  .column.column-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%; }
  .column.offset-20 {
    margin-left: 20%; }
  .column.column-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .column.offset-25 {
    margin-left: 25%; }
  .column.column-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%; }
  .column.offset-30 {
    margin-left: 30%; }
  .column.column-35 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%; }
  .column.offset-35 {
    margin-left: 35%; }
  .column.column-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%; }
  .column.offset-40 {
    margin-left: 40%; }
  .column.column-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%; }
  .column.offset-45 {
    margin-left: 45%; }
  .column.column-50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .column.offset-50 {
    margin-left: 50%; }
  .column.column-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%; }
  .column.offset-55 {
    margin-left: 55%; }
  .column.column-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%; }
  .column.offset-60 {
    margin-left: 60%; }
  .column.column-65 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%; }
  .column.offset-65 {
    margin-left: 65%; }
  .column.column-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%; }
  .column.offset-70 {
    margin-left: 70%; }
  .column.column-75 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .column.offset-75 {
    margin-left: 75%; }
  .column.column-80 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%; }
  .column.offset-80 {
    margin-left: 80%; }
  .column.column-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%; }
  .column.offset-85 {
    margin-left: 85%; }
  .column.column-90 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%; }
  .column.offset-90 {
    margin-left: 90%; }
  .column.column-95 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 95%;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%; }
  .column.offset-95 {
    margin-left: 95%; }
  @media screen and (min-width: 480px) {
    .column.medium-column-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 5%;
          -ms-flex: 0 0 5%;
              flex: 0 0 5%;
      max-width: 5%; }
    .column.medium-offset-5 {
      margin-left: 5%; }
    .column.medium-column-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
          -ms-flex: 0 0 10%;
              flex: 0 0 10%;
      max-width: 10%; }
    .column.medium-offset-10 {
      margin-left: 10%; }
    .column.medium-column-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 15%;
          -ms-flex: 0 0 15%;
              flex: 0 0 15%;
      max-width: 15%; }
    .column.medium-offset-15 {
      margin-left: 15%; }
    .column.medium-column-20 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
      max-width: 20%; }
    .column.medium-offset-20 {
      margin-left: 20%; }
    .column.medium-column-25 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
    .column.medium-offset-25 {
      margin-left: 25%; }
    .column.medium-column-30 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30%;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      max-width: 30%; }
    .column.medium-offset-30 {
      margin-left: 30%; }
    .column.medium-column-35 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 35%;
          -ms-flex: 0 0 35%;
              flex: 0 0 35%;
      max-width: 35%; }
    .column.medium-offset-35 {
      margin-left: 35%; }
    .column.medium-column-40 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 40%;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%;
      max-width: 40%; }
    .column.medium-offset-40 {
      margin-left: 40%; }
    .column.medium-column-45 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 45%;
          -ms-flex: 0 0 45%;
              flex: 0 0 45%;
      max-width: 45%; }
    .column.medium-offset-45 {
      margin-left: 45%; }
    .column.medium-column-50 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
    .column.medium-offset-50 {
      margin-left: 50%; }
    .column.medium-column-55 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55%;
          -ms-flex: 0 0 55%;
              flex: 0 0 55%;
      max-width: 55%; }
    .column.medium-offset-55 {
      margin-left: 55%; }
    .column.medium-column-60 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
          -ms-flex: 0 0 60%;
              flex: 0 0 60%;
      max-width: 60%; }
    .column.medium-offset-60 {
      margin-left: 60%; }
    .column.medium-column-65 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 65%;
          -ms-flex: 0 0 65%;
              flex: 0 0 65%;
      max-width: 65%; }
    .column.medium-offset-65 {
      margin-left: 65%; }
    .column.medium-column-70 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 70%;
          -ms-flex: 0 0 70%;
              flex: 0 0 70%;
      max-width: 70%; }
    .column.medium-offset-70 {
      margin-left: 70%; }
    .column.medium-column-75 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; }
    .column.medium-offset-75 {
      margin-left: 75%; }
    .column.medium-column-80 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 80%;
          -ms-flex: 0 0 80%;
              flex: 0 0 80%;
      max-width: 80%; }
    .column.medium-offset-80 {
      margin-left: 80%; }
    .column.medium-column-85 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 85%;
          -ms-flex: 0 0 85%;
              flex: 0 0 85%;
      max-width: 85%; }
    .column.medium-offset-85 {
      margin-left: 85%; }
    .column.medium-column-90 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 90%;
          -ms-flex: 0 0 90%;
              flex: 0 0 90%;
      max-width: 90%; }
    .column.medium-offset-90 {
      margin-left: 90%; }
    .column.medium-column-95 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 95%;
          -ms-flex: 0 0 95%;
              flex: 0 0 95%;
      max-width: 95%; }
    .column.medium-offset-95 {
      margin-left: 95%; } }
  @media screen and (min-width: 800px) {
    .column.large-column-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 5%;
          -ms-flex: 0 0 5%;
              flex: 0 0 5%;
      max-width: 5%; }
    .column.large-offset-5 {
      margin-left: 5%; }
    .column.large-column-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
          -ms-flex: 0 0 10%;
              flex: 0 0 10%;
      max-width: 10%; }
    .column.large-offset-10 {
      margin-left: 10%; }
    .column.large-column-15 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 15%;
          -ms-flex: 0 0 15%;
              flex: 0 0 15%;
      max-width: 15%; }
    .column.large-offset-15 {
      margin-left: 15%; }
    .column.large-column-20 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
      max-width: 20%; }
    .column.large-offset-20 {
      margin-left: 20%; }
    .column.large-column-25 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
    .column.large-offset-25 {
      margin-left: 25%; }
    .column.large-column-30 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30%;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      max-width: 30%; }
    .column.large-offset-30 {
      margin-left: 30%; }
    .column.large-column-35 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 35%;
          -ms-flex: 0 0 35%;
              flex: 0 0 35%;
      max-width: 35%; }
    .column.large-offset-35 {
      margin-left: 35%; }
    .column.large-column-40 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 40%;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%;
      max-width: 40%; }
    .column.large-offset-40 {
      margin-left: 40%; }
    .column.large-column-45 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 45%;
          -ms-flex: 0 0 45%;
              flex: 0 0 45%;
      max-width: 45%; }
    .column.large-offset-45 {
      margin-left: 45%; }
    .column.large-column-50 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
    .column.large-offset-50 {
      margin-left: 50%; }
    .column.large-column-55 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55%;
          -ms-flex: 0 0 55%;
              flex: 0 0 55%;
      max-width: 55%; }
    .column.large-offset-55 {
      margin-left: 55%; }
    .column.large-column-60 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
          -ms-flex: 0 0 60%;
              flex: 0 0 60%;
      max-width: 60%; }
    .column.large-offset-60 {
      margin-left: 60%; }
    .column.large-column-65 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 65%;
          -ms-flex: 0 0 65%;
              flex: 0 0 65%;
      max-width: 65%; }
    .column.large-offset-65 {
      margin-left: 65%; }
    .column.large-column-70 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 70%;
          -ms-flex: 0 0 70%;
              flex: 0 0 70%;
      max-width: 70%; }
    .column.large-offset-70 {
      margin-left: 70%; }
    .column.large-column-75 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; }
    .column.large-offset-75 {
      margin-left: 75%; }
    .column.large-column-80 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 80%;
          -ms-flex: 0 0 80%;
              flex: 0 0 80%;
      max-width: 80%; }
    .column.large-offset-80 {
      margin-left: 80%; }
    .column.large-column-85 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 85%;
          -ms-flex: 0 0 85%;
              flex: 0 0 85%;
      max-width: 85%; }
    .column.large-offset-85 {
      margin-left: 85%; }
    .column.large-column-90 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 90%;
          -ms-flex: 0 0 90%;
              flex: 0 0 90%;
      max-width: 90%; }
    .column.large-offset-90 {
      margin-left: 90%; }
    .column.large-column-95 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 95%;
          -ms-flex: 0 0 95%;
              flex: 0 0 95%;
      max-width: 95%; }
    .column.large-offset-95 {
      margin-left: 95%; } }

@media screen and (min-width: 480px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem); }

  .column {
    margin-bottom: inherit;
    padding: 0 1rem; } }
img {
  display: inline-block;
  max-width: 100%;
  min-height: 0;
  height: auto;
  vertical-align: middle; }

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border-bottom: 1px dashed rgba(0,0,0,.2);
  -webkit-transition: color .5s;
  transition: color .5s; }
  a:hover {
    -webkit-transition: color .2s;
  transition: color .2s;
    cursor: pointer;
    color: black; }

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0; }
  dl dl,
  dl ul,
  dl ol,
  ol dl,
  ol ul,
  ol ol,
  ul dl,
  ul ul,
  ul ol {
    margin: 1.5rem 0 1.5rem 3rem; }

dl {
  list-style: none; }

ul {
  list-style: square inside; }

ol {
  list-style: decimal inside; }

dt,
dd,
li {
  margin-bottom: 1rem; }

hr {
  height: 1px;
  margin: 3rem 0;
  border: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }

mark,
.highlight {
  background: #FFF198; }

.navigation-toggle-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  z-index: 1000;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease; }
  .navigation-toggle-container.active {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.94); }
    .navigation-toggle-container.active span {
      background-color: #FFF; }
    .navigation-toggle-container.active .top {
      -webkit-transform: translateY(5px) translateX(0) rotate(-45deg);
              transform: translateY(5px) translateX(0) rotate(-45deg); }
    .navigation-toggle-container.active .middle {
      opacity: 0; }
    .navigation-toggle-container.active .bottom {
      -webkit-transform: translateY(-5px) translateX(0) rotate(45deg);
              transform: translateY(-5px) translateX(0) rotate(45deg); }
    .navigation-toggle-container.active .navigation-toggle:after {
      content: "CLOSE"; }

.navigation-toggle {
  line-height: 4.4rem; }
  .navigation-toggle:after {
    content: "MENU";
    font-size: 1.6rem;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }

.toggle-icon {
  display: inline-block;
  margin-right: .3rem; }
  .toggle-icon span {
    display: block;
    width: 1.8rem;
    height: 2px;
    background-color: black;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
    .toggle-icon span:not(:last-child) {
      margin-bottom: .3rem; }

.site-navigation-overlay {
  position: fixed;
  top: 0;
  display: block;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  opacity: .94;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s; }
  .site-navigation-overlay:before, .site-navigation-overlay:after {
    position: fixed;
    content: "";
    background: black;
    top: 0;
    width: 50%;
    height: 100%;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
  .site-navigation-overlay:before {
    left: -55%; }
  .site-navigation-overlay:after {
    right: -55%; }
  .site-navigation-overlay.open {
    visibility: visible;
    overflow-y: scroll; }
    .site-navigation-overlay.open:before {
      left: 0; }
    .site-navigation-overlay.open:after {
      right: 0; }
    .site-navigation-overlay.open li {
      -webkit-animation: fadeInTop .5s ease forwards;
              animation: fadeInTop .5s ease forwards;
      -webkit-animation-delay: .35s;
              animation-delay: .35s; }
      .site-navigation-overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .45s;
                animation-delay: .45s; }
      .site-navigation-overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .55s;
                animation-delay: .55s; }
      .site-navigation-overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .65s;
                animation-delay: .65s; }
      .site-navigation-overlay.open li:nth-of-type(5) {
        -webkit-animation-delay: .75s;
                animation-delay: .75s; }
      .site-navigation-overlay.open li:nth-of-type(6) {
        -webkit-animation-delay: .85s;
                animation-delay: .85s; }
      .site-navigation-overlay.open li:nth-of-type(7) {
        -webkit-animation-delay: .95s;
                animation-delay: .95s; }
      .site-navigation-overlay.open li:nth-of-type(8) {
        -webkit-animation-delay: .105s;
                animation-delay: .105s; }

.site-navigation {
  position: relative;
  top: 20%;
  z-index: 950; }
  .site-navigation ul {
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center; }
  .site-navigation li {
    margin-bottom: 4rem;
    opacity: 0;
    list-style: none; }
  .site-navigation a {
    display: block;
    color: #FFF; }
    .site-navigation a:hover {
      color:#F58EA8; }

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }

@-webkit-keyframes fadeInTop {
  0% {
    top: 20%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes fadeInTop {
  0% {
    top: 20%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
@media screen and (min-width: 480px) {
  .navigation-toggle-container {
    display: none; }

  .site-navigation-overlay {
    position: relative;
    top:16px;
    left:30px;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: none;
    display: inline-block;
    height: auto;
    width: auto;
    transition: none; }
    .site-navigation-overlay:before, .site-navigation-overlay:after {
      display: none; }

  .site-navigation {
    top: 0;
    z-index: 0; }
    .site-navigation ul {
      *zoom: 1;
      top: 0;
      z-index: 0;
      font-size: 1.4rem;
      font-weight: 400;
      text-align: left; }
      .site-navigation ul:after, .site-navigation ul:before {
        content: "";
        display: table; }
      .site-navigation ul:after {
        clear: both; }
    .site-navigation li {
      float: left;
      margin-bottom: 1rem;
      opacity: 1; }
      .site-navigation li:not(:last-child) {
        margin-right: 3rem; }
    .site-navigation a {
      display: inline-block;
      border-bottom: none;
      color: black;
      font-size: 1.5rem; }

  .nav-current a {
    position: relative; }
    .nav-current a:before {
      // content: "";
      position: absolute;
      bottom: -0.6rem;
      width: 1rem;
      height: .1rem;
      background-color: rgba(0, 0, 0, 0.2); } }
.pagination {
  margin-bottom: 8rem; display: none;}
  .pagination ul {
    *zoom: 1; }
    .pagination ul:after, .pagination ul:before {
      content: "";
      display: table; }
    .pagination ul:after {
      clear: both; }
  .pagination li {
    float: left;
    list-style: none; }
    .pagination li:not(:last-child) {
      margin-right: 3rem; }
    .pagination li.prev:hover:before {
      left: -1rem; }
    .pagination li.next:hover:after {
      right: -1rem; }
  .pagination a {
    color: black; }
    .pagination a:hover {
      color: rgba(0, 0, 0, 0.5); }
  .pagination .prev:before,
  .pagination .next:after {
    position: relative;
    -webkit-transition: all .35s;
    transition: all .35s; }
  .pagination .prev:before {
    content: "←";
    position: relative;
    left: -0.5rem; }
  .pagination .next:after {
    content: "→";
    position: relative;
    right: -0.5rem; }
  @media screen and (min-width: 480px) {
    .pagination {
      *zoom: 1; }
      .pagination:after, .pagination:before {
        content: "";
        display: table; }
      .pagination:after {
        clear: both; }
      .pagination p {
        float: left; }
      .pagination ul {
        float: right; } }

.scroll-top {
  display: block;
  margin-bottom: 2rem; }
  @media screen and (min-width: 480px) {
    .scroll-top {
     // float: right; } 
    }

.search-form {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0;
  white-space: nowrap; }
  .search-form input[type='search'] {
    width: 100%;
    height: 3.8rem;
    font-family: "Georgia", serif;
    padding-left: 4.4rem;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: width .55s ease;
    transition: width .55s ease; }
    .search-form input[type='search']::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .search-form input[type='search']:-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .search-form input[type='search']::-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .search-form input[type='search']:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
  .search-form .icon-search {
    position: absolute;
    margin-left: 1.6rem;
    color: black;
    font-weight: 700;
    line-height: 3.8rem; }
  .search-form:focus, .search-form:active {
    outline: none; }
  @media screen and (min-width: 480px) {
    .search-form {
      float: right;
      width: 30rem; }
      .search-form input[type='search'] {
        float: right;
        width: 4rem;
        height: 4rem;
        padding-left: 1rem;
        padding-right: 3.4rem;
        border: 0;
        border-bottom: 2px solid black;
        border-radius: 0; }
      .search-form .icon-search {
        right: 0;
        margin-left: 0;
        margin-right: 1.6rem; }
      .search-form:hover input[type='search'] {
        width: 30rem;
        outline: none; } }

#results {
  margin-bottom: 6rem;     
  text-align: right;
    padding-left: 50%;
    position: relative;}

.results-title {
  margin-bottom: .2rem; }

.results-date {
  font-size: 1.3rem;
  font-style: italic; }

.share-item {
  position: relative; }
  .share-item:before {
    position: absolute;
    right: 0;
    font-family: "icons";
    visibility: hidden;
    opacity: 0;
    -webkit-transition: right .5s, visibility 0s, opacity .5s linear;
    transition: right .5s, visibility 0s, opacity .5s linear; }
  .share-item:hover:before {
    right: 1rem;
    visibility: visible;
    opacity: 1; }
  .share-item a {
    display: block; }
  .share-item.twitter:before {
    content: "";
    color: #55ACEE; }
  .share-item.twitter:hover a {
    color: #55ACEE; }
  .share-item.facebook:before {
    content: "";
    color: #3B5998; }
  .share-item.facebook:hover a {
    color: #3B5998; }
  .share-item.google-plus:before {
    content: "";
    color: #DC4E41; }
  .share-item.google-plus:hover a {
    color: #DC4E41; }

.sl-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  background: rgba(0, 0, 0, 0.92); }

.sl-wrapper {
  z-index: 1000; }

.sl-close,
.sl-counter {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 6rem;
  height: 6rem;
  margin: 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  line-height: 6rem;
  background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 480px) {
    .sl-close,
    .sl-counter {
      width: 8rem;
      height: 8rem;
      line-height: 8rem; } }

.sl-close {
  right: 0;
  border: 0;
  font-size: 3rem;
  cursor: pointer; }

.sl-counter {
  left: 0; }

.sl-navigation {
  width: 100%;
  display: none; }
  @media screen and (min-width: 480px) {
    .sl-navigation button {
      display: block;
      position: fixed;
      top: 0;
      z-index: 1015;
      width: 8rem;
      height: 100%;
      font-family: Arial, sans-serif;
      font-size: 3rem;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.1); } }
  .sl-navigation button.sl-next {
    right: 0; }
  .sl-navigation button.sl-prev {
    left: 0; }

.sl-image {
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
      touch-action: none; }
  .sl-image img {
    display: block;
    margin: 0;
    padding: 0; }
  .sl-image iframe {
    border: 0 none;
    background: black; }

.sl-caption {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0.8); }
  .sl-caption.pos-top {
    top: 0;
    bottom: auto; }
  .sl-caption.pos-outside {
    bottom: auto; }

.sl-download {
  display: none;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  z-index: 1005;
  color: #FFF; }

.sl-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  z-index: 1007;
  margin: -2rem 0 0 -2rem;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: pulsate 1s ease-out infinite;
          animation: pulsate 1s ease-out infinite; }

.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 5rem;
  height: 5rem;
  overflow: scroll; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(.1);
            transform: scale(.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(.1);
            transform: scale(.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }
.social-navigation ul {
  *zoom: 1; }
  .social-navigation ul:after, .social-navigation ul:before {
    content: "";
    display: table; }
  .social-navigation ul:after {
    clear: both; }
.social-navigation li {
  float: left;
  list-style: none; }
.social-navigation li:not(:last-child) {
  margin-right: 1.8rem; }
.social-navigation a {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 50%; }
  .social-navigation a:before {
    display: block;
    color: #FFF;
    font-family: "icons";
    font-size: 1.6rem;
    text-align: center;
    line-height: 3.2rem;
    -webkit-font-smoothing: antialiased; }
  .social-navigation a[href*="google.com"]:before {
    content: ""; }
  .social-navigation a[href*="google.com"]:hover {
    background-color: #DC4E41; }
  .social-navigation a[href*="facebook.com"]:before {
    content: ""; }
  .social-navigation a[href*="facebook.com"]:hover {
    background-color: #3B5998; }
  .social-navigation a[href*="instagram.com"]:before {
    content: ""; }
  .social-navigation a[href*="instagram.com"]:hover {
    background-color: #3F729B; }
  .social-navigation a[href*="spotify.com"]:before {
    content: ""; }
  .social-navigation a[href*="spotify.com"]:hover {
    background-color: #2EBD59; }
  .social-navigation a[href*="twitter.com"]:before {
    content: ""; }
  .social-navigation a[href*="twitter.com"]:hover {
    background-color: #55ACEE; }
  .social-navigation a[href*="vk.com"]:before {
    content: ""; }
  .social-navigation a[href*="vk.com"]:hover {
    background-color: #45668E; }
  .social-navigation a[href*="rss"]:before {
    content: ""; }
  .social-navigation a[href*="rss"]:hover {
    background-color: #F26522; }
  .social-navigation a[href*="youtube.com"]:before {
    content: ""; }
  .social-navigation a[href*="youtube.com"]:hover {
    background-color: #CD201F; }
  .social-navigation a[href*="twitch.tv"]:before {
    content: ""; }
  .social-navigation a[href*="twitch.tv"]:hover {
    background-color: #6441A5; }
  .social-navigation a[href*="vimeo.com"]:before {
    content: ""; }
  .social-navigation a[href*="vimeo.com"]:hover {
    background-color: #1AB7EA; }
  .social-navigation a[href*="flickr.com"]:before {
    content: ""; }
  .social-navigation a[href*="flickr.com"]:hover {
    background-color: #FF0084; }
  .social-navigation a[href*="dribbble.com"]:before {
    content: ""; }
  .social-navigation a[href*="dribbble.com"]:hover {
    background-color: #EA4C89; }
  .social-navigation a[href*="behance.net"]:before {
    content: ""; }
  .social-navigation a[href*="behance.net"]:hover {
    background-color: #1769FF; }
  .social-navigation a[href*="github.com"]:before {
    content: ""; }
  .social-navigation a[href*="github.com"]:hover {
    background-color: #4183C4; }
  .social-navigation a[href*="ello.co"]:before {
    content: ""; }
  .social-navigation a[href*="ello.co"]:hover {
    background-color: #000; }
  .social-navigation a[href*="tumblr.com"]:before {
    content: ""; }
  .social-navigation a[href*="tumblr.com"]:hover {
    background-color: #35465C; }
  .social-navigation a[href*="soundcloud.com"]:before {
    content: ""; }
  .social-navigation a[href*="soundcloud.com"]:hover {
    background-color: #FF8800; }
  .social-navigation a[href*="skype.com"]:before {
    content: ""; }
  .social-navigation a[href*="skype.com"]:hover {
    background-color: #00AFF0; }
  .social-navigation a[href*="reddit.com"]:before {
    content: ""; }
  .social-navigation a[href*="reddit.com"]:hover {
    background-color: #FF4500; }
  .social-navigation a[href*="linkedin.com"]:before {
    content: ""; }
  .social-navigation a[href*="linkedin.com"]:hover {
    background-color: #0077B5; }
  .social-navigation a[href*="last.fm"]:before {
    content: ""; }
  .social-navigation a[href*="last.fm"]:hover {
    background-color: #D51007; }
  .social-navigation a[href*="delicious.com"]:before {
    content: ""; }
  .social-navigation a[href*="delicious.com"]:hover {
    background-color: #3399FF; }
  .social-navigation a[href*="stackoverflow.com"]:before {
    content: ""; }
  .social-navigation a[href*="stackoverflow.com"]:hover {
    background-color: #FE7A15; }
  .social-navigation a[href*="pinterest.com"]:before {
    content: ""; }
  .social-navigation a[href*="pinterest.com"]:hover {
    background-color: #BD081C; }
  .social-navigation a[href*="codepen.io"]:before {
    content: ""; }
  .social-navigation a[href*="codepen.io"]:hover {
    background-color: #000; }

.button,
button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

table {
  width: 100%; }

th,
td {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
  padding: 1.2rem 1.5rem;
  text-align: left; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

p {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem 0;
  color: black;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: 700;
  text-transform: capitalize; }

h1 {
  font-size: 4rem;
  color: #f22639;
  letter-spacing: -0.1rem;
  line-height: 1.2; 
  margin-bottom: 1rem;
  font-family: "Playfair Display", "Times New Roman", serif;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  line-height: 1.25; }

h3 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.3; }

h4 {
  font-size: 2.1rem;
  letter-spacing: -0.08rem;
  line-height: 1.35; }

h5 {
  font-size: 2.0rem;
  letter-spacing: -0.05rem;
  line-height: 1.5; }

h6 {
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1.4; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #f22639; border-bottom: none; }
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  display: inline-block;
  //color: #FE8C00;
  color: #f22639;
  //background: -webkit-linear-gradient(left, #FE8C00, #F83600);
  background: #f22639;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (min-width: 40rem) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 3rem; 
    margin-top: 3rem;}

  h3 {
    font-size: 2.8rem; }

  h4 {
    font-size: 2.1rem; }

  h5 {
    font-size: 2.0rem; }

  h6 {
    font-size: 2rem; } }
.widget {
  width: 100%;
  margin-bottom: 4rem; }
  .widget .widget-title {
    font-size: 2rem; }
  .widget li {
    padding-bottom: 1rem;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    list-style: none; }

.widget-instagram {
  *zoom: 1;
  margin-bottom: 2rem; }
  .widget-instagram:after, .widget-instagram:before {
    content: "";
    display: table; }
  .widget-instagram:after {
    clear: both; }
  .widget-instagram a {
    display: inline-block;
    float: left;
    width: 22%;
    height: 22%;
    margin-bottom: 3.8%; }
    .widget-instagram a:not(:nth-child(4n+0)) {
      margin-right: 3.8%; }

.site-header {
  margin: 4rem 0 0rem; }
  @media screen and (min-width: 480px) {
    .site-header {
      margin: 6rem 0 0rem; } }

.site-title {
  margin-bottom: 1rem;
  margin-top:2rem;
  display: inline-block;
  letter-spacing: .1px;
  font-size: 2.2rem; }

@media screen and (min-width: 480px) {
  .site-main {
    margin-top: 0rem; } 
  .site-main h2 {
    margin-bottom: 1rem;
  }
  .site-title  {
    margin-top:0;
  }
  .site-main .entry-tags {
    margin-bottom: 0;
  }
  }
.entry-title {
  margin-top:0;
}
.entry-author,
.entry-tags {
  font-size: 1.3rem;
  font-style: italic; }
#post-tags {
  margin-bottom: 20px;
}
.entry-author {
  position: relative; display: none; }
  .entry-author:after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    width: 2rem;
    height: .2rem;
    background-color: black; }

.entry-date {
  font-size: 1.3rem;
  font-style: italic; }

.post {
  margin-bottom: 10rem; }

.author-cover {
  width: 120%;
  max-width: 110%;
  height: 40rem;
  margin-bottom: 6rem;
  margin-left: -5%;
  background-size: cover; }

.author-profile {
  margin-bottom: 8rem; }
  .author-profile .author-image {
    width: 14rem;
    height: 14rem;
    margin-bottom: 1rem;
    font-size: 0;
    background-size: cover; }
  .author-profile .author-title {
    margin-bottom: .4rem;
    font-size: 3.2rem; }
  .author-profile .author-meta p {
    margin-bottom: 1.2rem; }
    .author-profile .author-meta p span {
      margin-right: 1rem; }

.tag-title {
  margin-bottom: .4rem;
  font-size: 3.2rem; }

.read-next-story {
  margin-bottom: 10rem; }
  .read-next-story p {
    margin-bottom: 1rem;
    font-style: italic; }
  .read-next-story h3 {
    font-size: 2.6rem; }
  @media screen and (min-width: 480px) {
    .read-next-story .prev {
      text-align: right; } }
#twitter-widget-0 {
  position: relative !important;
  top:5px;
  left:2px;
}